body{
    font-family: "Montserrat";
}


#title{
    background-image: linear-gradient(-90deg,orange,blue,white);
}

h1{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: "Montserrat-Bold";
}

h2{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15%;
}


.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 4rem;
    font-weight: bold;
    
}

.nav-item{
    padding: 0 18px;
    
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-dark";
}

/*button*/
.download-button{
    margin: 5% 3% 5% 0;
}
 /*title image*/

 .title-image{
     width: 60%;
     border-radius: 1.7rem;
     right: 30%;
     
 }

 /*feature*/
 #feature{
     padding: 7% 15%;
 }

 .feature-box{
     text-align: center;
     padding: 5%;
 }

 .icon{
     color: rgb(245, 84, 9);
     margin: 1rem;
 }
 .icon:hover{
     color: rgb(255, 104, 4);
 }
  .heading{
      text-decoration: underline;
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 10%;
  }
/*rotate images*/

#rotate{
    display: block;

}

.carousel-inner{
    
    
    background-image: linear-gradient(-90deg,orange,blue,white);
    position: relative;
    
}

.carousel-item
{
    padding: 7% 15%;
}
#intro{
    padding: 100px;
}    
#info-h{
    padding-top: 5%;
    text-align: center;
    font-size: 50%;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(7, 22, 54, 0.781);
}
 
.row{
    padding-top: 10%;
}
.p-color{
    background-image: linear-gradient(-90deg,orange,blue,white);
    width: auto;
}
footer{
    background-image: linear-gradient(-90deg,orange,white,rgba(15, 190, 15, 0.63),white,orange);
    
    text-align: center;
    color: rgba(19, 5, 85, 0.767);
    padding: 5%;
    margin-top: 0;
    text-decoration: underline;
    font-size: 2rem;
    font-style: "Ubuntu";
    font-weight: bold;
}